*.xml
*.txt.*
*.txt
*.log
*.css.map

*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig
*.doc
*.docx
*.pdf
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*
*.com
*.com.*

*.session
*.session*
*.json
tmp*.*
*/.idea/*
*/langdetect/*
*/nltk_data/*

